{% extends "layout.html" %}
{% block content %}
<div class="page-header">
    <h1>Your Favourites</h1>
</div>
<div class="stream" ng-controller="FavouritesController as stream">
    {% raw %}
    <div ng-bind-html="stream.embed_code"></div>
    <p>
        Order by: <a href="" ng-click="stream.updatePagination('title')">Name</a> -
        <a href="" ng-click="stream.updatePagination('-duration')">Duration</a> -
        <a href="" ng-click="stream.updatePagination('user')">User</a> -
        <a href="" ng-click="stream.updatePagination('-date')">Date</a>
    </p>
    <ul class="list-group">
        <li ng-repeat="track in stream.tracks | orderBy:stream.pagination" class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{track.image}}" alt="Track thumbnail">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">{{track.user}}</h5>
                    <h4 class="media-heading">{{track.title}}</h4>
                    <!--<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>-->
                    <p>{{track.duration | duration}}</p>
                </div>
                <div class="media-right">
                    <span class="pull-right btn btn-danger" ng-click="stream.play(track.stream_url)"> vlc </span>
                    <span class="pull-right btn btn-info" ng-click="stream.embed(track.permalink)"> embed </span>
                </div>
            </div>
        </li>
    </ul>
    {% endraw %}
</div>
{% endblock %}
